    {% if user.passport %}
    <p><strong>Authority:</strong> {{ user.passport.authority }}</p>
    <p><strong>Date of Issue:</strong> {{ user.passport.date_of_issue|date:"d/m/Y" }}</p>
    <p><strong>Date of Expiry:</strong> {{ user.passport.date_of_expiry|date:"d/m/Y" }}</p>
    {% else %}
    <p><strong>Surname:</strong> {{ user.surname }}</p>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Patronymic:</strong> {{ user.patronymic }}</p>        
    {% endif %}
</div>
<div class="col-md-7">
    {% if user.passport %}    
    <p><strong>Surname:</strong> {{ user.surname }}</p>
    <p><strong>Name:</strong> {{ user.name }}</p>
    <p><strong>Patronymic:</strong> {{ user.patronymic }}</p>
    <p><strong>Date of Birth:</strong> {{ user.date_of_birth|date:"d/m/Y" }}</p>
    <p><strong>Place of Birth:</strong> {{ user.place_of_birth }}</p>
    <p><strong>Sex:</strong> {{ user.sex }}</p>
    <p><strong>Document Number:</strong> {{ user.passport.number }}</p>
    <p><strong>Record Number:</strong> {{ user.record_number }}</p>
    <p><strong>Nationality:</strong> {{ user.get_nationality_display }}</p>
    {% else %}
    <p><strong>Record Number:</strong> {{ user.record_number }}</p>    
    <p><strong>Sex:</strong> {{ user.sex }}</p>    
    <br>
    <p><strong>Date of Birth:</strong> {{ user.date_of_birth|date:"d/m/Y" }}</p>
    <p><strong>Place of Birth:</strong> {{ user.place_of_birth }}</p>
    <p><strong>Nationality:</strong> {{ user.get_nationality_display }}</p>  
    <br>   
    {% endif %}
