{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <br/>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_list' %}?title=create-passport">
                            Створення паспорту
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_list' %}?title=create-foreign-passport">
                            Створення закордонного паспорту
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_list' %}?title=restore-passport-loss">
                            Відновлення внутрішнього паспорту через втрату
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_list' %}?title=restore-passport-expiry">
                            Відновлення внутрішнього паспорту через закінчення терміну придатності
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_list' %}?title=restore-fpassport-loss">
                            Відновлення закордонного паспорту через втрату
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_list' %}?title=restore-fpassport-expiry">
                            Відновлення закордонного паспорту через закінчення терміну придатності
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasks_list' %}?title=restore-address">
                            Відновлення адреси прописки
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h2 class="text-center mb-4 mt-5">{{ title }}</h2>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Вид послуги</th>
                        <th scope="col">Користувач</th>
                        <th scope="col">Дані користувача</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Дата створення</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ task.get_title_display }}</td>
                        <td>{{ task.user }}</td>
                        <td>
                            {% for k, v in task.user_data.items %}
                            {% if k == 'photo' %}
                            <div class="d-flex align-items-start">
                                {{ k }}: 
                                <img src="/media/{{ v }}" alt="" width="100" class="img-fluid">
                            </div>
                            {% elif k == 'formatted_address' %}
                            address: {{ v }}
                            {% elif k == 'address_id' %}
                            {% else %}
                            {{ k }} : {{ v }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ task.get_status_display }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            {% if task.title == 'Create ip' and task.status == 0 %}
                            <a href="{% url 'create_passport_s' task.id %}" class="btn btn-info">
                                Перейти до оформлення
                            </a>
                            {% elif task.title == 'Create fp' and task.status == 0 %}
                            <a href="{% url 'create_fpassport_s' task.id %}" class="btn btn-info">
                                Перейти до оформлення
                            </a>
                            {% elif task.title|slice:":10" == 'Restore ip' and task.status == 0 %}
                            <a href="{% url 'restore_passport_s' task.id %}" class="btn btn-info">
                                Перейти до відновлення
                            </a>
                            {% elif task.title|slice:":10" == 'Restore fp' and task.status == 0 %}
                            <a href="{% url 'restore_fpassport_s' task.id %}" class="btn btn-info">
                                Перейти до відновлення
                            </a>
                            {% elif task.title == 'Restore address' and task.status == 0 %}
                            <a href="{% url 'restore_address_s' task.id %}" class="btn btn-info">
                                Перейти до оновлення
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</div>
{% endblock %}
