{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 mt-5">{{ title }}</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">
                    Дані користувача
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                        {% if task.user_data.photo %}
                            <img src="/media/{{ task.user_data.photo }}"
                            alt="Passport Photo"
                            style="height: 220px; width: 190px;"
                            class="img-fluid mb-4">
                        {% elif user.passport.photo %}
                            <img src="{{ user.passport.photo.url }}"
                            alt="Passport Photo"
                            style="height: 220px; width: 190px;"
                            class="img-fluid mb-4">
                        {% endif %}
                            {% include 'passports/inc/_user_card.html' %}
                            {% if user.address %}
                                {% include 'passports/inc/_address.html' %}
                            {% else %}
                            <p>
                                <strong>Address:</strong><br>
                                {{ address.country_code }}, {{ address.region }}, {{ address.settlement }},
                                {{ address.street }}, {{ address.apartments }}, {{ address.post_code }}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="text-center mb-2">{{ form_title }}</h4>
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark">Оформити</button>
            </form>
    </div>
    </div>
    </div>
</div>
{% endblock %}
