{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 mt-5">{{ title }}</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Ваші дані для обробки
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <img id="imgPreview" src="/media/images/images-1.jpg"
                                    class="img-thumbnail rounded-circle"
                                    style="width: 120px; height: 120px; object-fit: cover; cursor: pointer; margin-bottom: 5px;"
                                    alt="User Photo"/>
                                    <input id="id_photo" name="photo" type="file" class="form-control-file" style="display: none;" accept="image/*">
                                </div>
                                {% include './inc/_user_card.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-center mb-2">Адреса прописки</h3>
                {{ address_form.as_p }}
                <button type="submit" class="btn btn-dark btn-block">Створити</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
    {% include './inc/_preview_photo.html' %}
{% endblock %}
