{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
<h2 class="text-center mb-4 mt-5">{{ title }}</h2>
<br>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                Ваші дані
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        {% if user.passport.photo %}
                            <img src="{{ user.passport.photo.url }}" alt="Passport Photo" class="img-fluid mb-5">
                        {% else %}
                        <img  src="/media/images/images-1.jpg" alt="Passport Photo" style="height: 250px; width: 220px;" class="img-fluid mb-4">
                        {% endif %}
                        {% include './inc/_user_card.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="text-center mb-2">Адреса прописки</h3>
<div class="d-flex justify-content-center">
    <form method="POST" action="" class="w-50" style="max-width: 700px; margin: 0 30px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">Оновити</button>
    </form>
</div>
</div>
{% endblock %}
