{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
<h2 class="text-center mb-4 mt-5">{{ title }}</h2>
<br>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                Ваші дані
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        {% if user.passport.photo %}
                            <img src="{{ user.passport.photo.url }}" alt="Passport Photo" class="img-fluid mb-5">
                        {% else %}
                            <p>Photo: Not available</p>
                        {% endif %}
                        <p><strong>Authority:</strong> {{ user.passport.authority }}</p>
                        <p><strong>Date of Issue:</strong> {{ user.passport.date_of_issue|date:"d m Y" }}</p>
                        <p><strong>Date of Expiry:</strong> {{ user.passport.date_of_expiry|date:"d m Y" }}</p>
                    </div>
                    <div class="col-md-7">
                        <p><strong>Surname:</strong> {{ user.surname }}</p>
                        <p><strong>Name:</strong> {{ user.name }}</p>
                        <p><strong>Patronymic:</strong> {{ user.patronymic }}</p>
                        <p><strong>Date of Birth:</strong> {{ user.date_of_birth|date:"d m Y" }}</p>
                        <p><strong>Place of Birth:</strong> {{ user.place_of_birth }}</p>
                        <p><strong>Sex:</strong> {{ user.sex }}</p>
                        <p><strong>Document Number:</strong> {{ user.passport.number }}</p>
                        <p><strong>Record Number:</strong> {{ user.record_number }}</p>
                        <p><strong>Nationality:</strong> {{ user.get_nationality_display }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <form method="POST" action="" class="w-50" style="max-width: 700px; margin: 0 30px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">Оновити</button>
    </form>
</div>
</div>
{% endblock %}