{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4 mt-5">{{ title }}</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        Ваші дані для нового паспорту
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <img id="imgPreview" src="/media/images/images-1.jpg"
                                    class="img-thumbnail rounded-circle"
                                    style="width: 120px; height: 120px; object-fit: cover; cursor: pointer; margin-bottom: 5px;"
                                    alt="User Photo"/>
                                    <input id="id_photo" name="photo" type="file" class="form-control-file" style="display: none;" accept="image/*">
                                </div>
                                <div class="form-group">
                                    {% if user_form.name %}
                                    <p><strong>Name:</strong> {{ user_form.name }}</p>
                                    {% else %}
                                    <p><strong>Name:</strong> {{ user.name }}</p>
                                    {% endif %}
                                    {% if user_form.surname %}
                                    <p><strong>Surname:</strong> {{ user_form.surname }}</p>
                                    {% else %}
                                    <p><strong>Surname:</strong> {{ user.surname }}</p>
                                    {% endif %}
                                    {% if user_form.patronymic %}
                                    <p><strong>Patronymic:</strong> {{ user_form.patronymic }}</p>
                                    {% else %}
                                    <p><strong>Patronymic:</strong> {{ user.patronymic }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <p><strong>Sex:</strong> {{ user.sex }}</p>
                                <p><strong>Date of Birth:</strong> {{ user.date_of_birth|date:"d/m/Y" }}</p>
                                <br>
                                <p><strong>Place of Birth:</strong> {{ user.place_of_birth }}</p>
                                <p><strong>Nationality:</strong> {{ user.get_nationality_display }}</p>
                                {% include './inc/_address.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-block">Надіслати</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
    {% include './inc/_preview_photo.html' %}
{% endblock %}
