{% extends 'base.html' %}
{% block title %} Home :: {{ block.super }}{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-white" style="background-color: #191970; background-size: cover; background-position: center;">
    <div class="container text-center">
      <h1 class="display-4">Your Passport, Our Priority</h1>
      <p class="lead">Fast, reliable, and secure passport services</p>
    </div>
  </div>

  <!-- Services Section -->
  <section id="services" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="display-4">Our Services</h2>
          <p class="lead">We provide a wide range of passport-related services</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="/media/images/1.jpg" alt="Service 1"  style="height: 300px; width: 100%" class="img-fluid mb-3">
          <h3>New Passport Application</h3>
          <p>Assistance with new passport applications.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="/media/images/2.jpg" alt="Service 2"  style="height: 300px; width: 100%"  class="img-fluid mb-3">
          <h3>Passport Renewal</h3>
          <p>Help with renewing your existing passport.</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="/media/images/3.jpg" alt="Service 3" style="height: 300px; width: 100%"  class="img-fluid mb-3">
          <h3>Lost Passport Replacement</h3>
          <p>Guidance for replacing lost or stolen passports.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
